.about {
    font-size: 18px;
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: auto;
    height: auto;
    background: #fff;
}

.about h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 5px;
}

.gallery img {
    height: 750px;
    width: 100%;
}

.cityInfo {
    background-color: rgb(46, 8, 8);
    color: white;
}

.column {
    float: left;
    width: 22%;
    padding: 20px;
    height: 110px;
}

.column a {
    color: white;
}

.cityInfo:after {
    content: "";
    display: table;
    clear: both;
}

.living {
    float: left;
    width: 30%;
    padding: 20px;
    height: 110px;
}

.living img {
    padding-left: 25px;
}

.living h3 {
    text-align: center;
    color: brown;
}

.living p {
    text-align: justify;
}

.row2:after {
    content: "";
    display: table;
    clear: both;
}