#travel1 img {
    width: 50%;
    margin-left: 10px;
}

#travel {
    background-color: whitesmoke;
}

.footer1 {
    position: relative;
    bottom: 0;
    margin-top: 10px;
    height: 200px;
    background-color: rgb(170, 73, 73);
}

.fcolumn {
    float: left;
    width: 30%;
    padding: 20px;
    height: 110px;
}

.fcolumn a {
    color: black;
    padding: 15px;
}

.fcolumn a:hover {
    color: cornsilk;
}